@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --color-primary: rgb(241, 31, 185);
  --color-secondary: rgb(23, 25, 83)
}
