@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --color-primary: #f11fb9;
  --color-secondary: #171953;
}
